# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.*.local
.history/

# Storage directories
storage/
temp/
uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System
.DS_Store
Thumbs.db

# IDE / Editors
.idea/
.vscode/
*.swp
*.swo
.vs/
*.sublime-workspace
*.sublime-project

# Temporary files
tmp/
temp/
*.tmp

# Debug files
.node-xmlhttprequest-sync-*

# Build files
dist/
build/
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity